@use '../../../app/const' as *;

.product-gallery {
  display: flex;
  gap: 16px;
  height: auto;

  .product-gallery__main {
  }
}

/* ===== миниатюры ===== */
.lg-thumb-bottom {
  flex-direction: row !important;
}

.lg-thumb-left,
.lg-thumb-bottom {
  align-items: flex-start !important;
}

.lg-thumb {
  flex-direction: column !important;
  justify-content: flex-start !important;
}

.product-gallery__thumbs {
  width: 90px;

  .swiper-slide {
    height: fit-content;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    border: 2px solid transparent;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

  .swiper-slide-thumb-active img {
    border: 2px solid black;
  }
}

/* ===== основное фото ===== */

.product-gallery__main {
  flex: 1;

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 6 / 5;
    object-fit: cover;
    //обрезаетлишнее,нобезискаженийheight: auto;
    //можнооставить,нонеобязательноdisplay: block;
    cursor: zoom-in;
    border: 2px solid transparent;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}
}

/* ===== стрелки ===== */

/* ===== LightGallery кастом ===== */

.lg-backdrop {
  background: #fff !important;
}

.lg-object {
  object-fit: contain;
}

.lg-thumb-outer {
  background: #f7f7f7;
}

.lg-download,
.lg-autoplay-button {
  display: none;
}

.lg-media-overlap .lg-toolbar {
  background-image: none !important;
}

.lg-react-element {
  display: none;
}

.lg-custom-thumbnails {
  .lg-thumb {
    position: fixed;
    top: 0;
    left: 0; // слева
    bottom: 0;
    width: fit-content; // ширина колонки с миниатюрами
    max-height: none;
    background: #fff;
    padding: 32px !important;
    overflow-y: auto;
    display: flex !important;
    flex-direction: column !important;
    gap: 16px;

    .lg-thumb-item {
      border: 2px solid transparent;
      border-radius: 8px;
      overflow: hidden;
      cursor: pointer;
      transition: all 0.2s;
      margin: 0 !important;
      height: fit-content !important;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;

      img {
        display: block;
        width: 100%;height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
      }

      &.active {
        border-color: black;
      }

      &:hover {
        border-color: black;
      }
    }
  }

  .lg-outer {
    margin-left: 164px; // отступ для основной картинки
    width: calc(100% - 196px) !important;
    height: calc(100% - 64px) !important;
    margin-top: 32px !important;
    margin-bottom: 32px !important;
    margin-right: 32px !important;
  }

  .lg-counter {
    padding: 0 !important;
  }

  .lg-icon {
    padding: 0 !important;
    border: 2px solid transparent !important;
    border-radius: 500px !important;
    -webkit-border-radius: 500px !important;
    -moz-border-radius: 500px !important;
    -ms-border-radius: 500px !important;
    -o-border-radius: 500px !important;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;

    &:hover {
      border: 2px solid black !important;
      color: black !important;
    }
  }

  .lg-zoom-in {
    margin-right: 16px !important;
  }

  .lg-prev,
  .lg-next {
    padding: 16px !important;
    background-color: transparent !important;
  }

  .lg-prev {
    left: 0 !important;
  }

  .lg-next {
    right: 0 !important;
  }
}

@media (max-width: 684px) {
  .product-gallery {
    gap: 8px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .product-gallery__thumbs {
    width: 90px;
    margin: 0;
    width: 100%;

    .swiper-slide {
      width: 20%;
      margin-bottom: 0px;
      margin-right: 8px;

      &:last-child {
        margin-bottom: 0;
        margin-right: 0px;
      }
    }
  }

  .product-gallery__main {
    width: 100%;
  }

  .lg-custom-thumbnails {
  .lg-thumb {
    position: fixed;
    top: auto;
    left: 0; // слева
    bottom: 0;
    width: 100%; // ширина колонки с миниатюрами
    max-height: fit-content;
    height: fit-content;
    background: #fff;
    padding: 8px 8px 72px 8px !important;
    overflow-x: auto;
    display: flex !important;
    flex-direction: row !important;
    gap: 8px;

    .lg-thumb-item {
      border: 2px solid transparent;
      border-radius: 8px;
      overflow: hidden;
      cursor: pointer;
      transition: all 0.2s;
      margin: 0 !important;
      height: fit-content !important;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      &.active {
        border-color: black;
      }

      &:hover {
        border-color: black;
      }
    }
  }

  .lg-outer {
    margin-left: 0px; // отступ для основной картинки
    width: calc(100%) !important;
    height: 80% !important;
    margin-top: 32px !important;
    margin-bottom: 128px !important;
    margin-right: 32px !important;
  }

  .lg-counter {
    padding: 16px !important;
    line-height: 1;
  }

  .lg-icon {
    padding: 0 !important;
    border: 2px solid transparent !important;
    border-radius: 500px !important;
    -webkit-border-radius: 500px !important;
    -moz-border-radius: 500px !important;
    -ms-border-radius: 500px !important;
    -o-border-radius: 500px !important;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;

    &:hover {
      border: 2px solid black !important;
      color: black !important;
    }
  }

  .lg-zoom-in {
    margin-right: 16px !important;
  }

  .lg-prev,
  .lg-next {
    padding: 16px !important;
    background-color: transparent !important;
  }

  .lg-prev {
    left: 0 !important;
  }

  .lg-next {
    right: 0 !important;
  }
}
}