$olive: #7D9331;
$olive: #759251;
$olive: #566747;
$olive-light2: #6b8557;
$olive-light2-blur: #6b855798;
$olive-light2-blur2: #6b855754;
$olive-blur: #566747a8;
$beige: #EBDECF;
//$dark-beige: #B68A66;
$dark-beige: #566747;
$olive-light: #566747;
$dark-gray: #363636;

//DOM42

$orange: #F07E00;
$gray: #E9E9E9;
$gray-light: #F1F2F6;
$gray-light-hover: #e7e8ec;